@base: #000;

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Raleway/Raleway-ExtraLight.ttf') format('truetype')
}

body {
  background: #e8e8e8;
  @media screen and (min-width: 64em) {
    background: url("/images/content-bg.gif") repeat scroll 48% center #e8e8e8;
  }
}

h1, h2, h3 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
}

header {

  position: relative;
  padding-bottom: 1rem;
  background: white;

  @media screen and (min-width: 64em) {
    background: transparent;
  }

  h1 {
    margin: 1rem 2.5rem .5rem;
  }

  h1 a {
    color: black;
    text-decoration: none;
  }

  .wrapper-photo {
    text-align: center;
  }

  .landscape-photo {
    overflow: hidden;
    padding: .5em;
    margin: 0 2em;
    background: white;
    height: 200px;
  }

  .landscape-photo div {
    width: 100%;
    height: 100%;
    background: url("/images/hangar-anneaux.jpg") no-repeat center top;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.loading {
  right: 3rem;
  top: 1rem;
  position: absolute;
}
.isHidden {
  display: none;
}

.sidebar {

  background: white;
  box-shadow: 0 0 10px #777;
  color: #555;
  padding-bottom: 1em;

  @media screen and (min-width: 64em) {
    background: transparent;
    box-shadow: none;
    padding-bottom: 0;
  }

  > * {
    margin-left: 2.5rem;
    margin-right: 3rem;
  }

  > h2:first-child {
    margin-top: 0;
  }

  h2 {
    color: #000;
    font-size: 1.2rem;
    background: url("/images/double-line.png") repeat-x scroll center center transparent;

    @media screen and (min-width: 64em) {
      font-size: .9rem;
    }

    @media screen and (min-width: 80em) {
      font-size: 1.2rem;
    }

    > span {
      background: white;
      padding: 1rem;
      margin-left: 1rem;
    }
  }

  iframe {
    width: 100%;
  }

  .tags a {
    margin-right: .5rem;
    margin-bottom: .5rem;

  }
}

.error-message {
  background: red;
  color: white;
  padding: 5px;
  font-weight: bold;
  margin-top: 1rem;
}

.wrapper-body {
  width: 100%;
}

.main {
  text-align: center;

  article {
    box-shadow: 0 0 5px #ccc;
    margin: 1rem;
    background: white;

    h2 {
      margin: .5rem 0;
      font-size: 1.2rem;
    }

    .post-thumbnail {
      height: 250px;
      overflow: hidden;
      text-align: center;
    }
    .post-thumbnail img {
    }

    p {
      font-family: serif;
      font-style: italic;
      color: #422;
      text-align: justify;
      padding: 0 1rem;
    }
  }
}

.article-details {
  line-height: 1.5rem;
  > h1 {
    margin-top: 0;
  }
  img {
    border: .5rem white solid;
    box-shadow: 0 0 5px #999;
    width: 98%;
  }


  .wrapper {
    padding: 1em;
    @media screen and (min-width: 64em) {
      padding: 0 1em;
    }

    @media screen and (min-width: 80em) {
      padding: 0 2.4em 0 2em;
    }

  }
}

.admin {
  .editor {
    height: 100vh;
  }
  .placeholder {
    color: lighten(@base, 50%)
  }
  .editor-view > *:first-child {
    margin-top: 0;
  }
  .padding5 {
    padding: 1rem;
  }
}

.actions {
  position: absolute;
  right: 20px;
  bottom: 50px;

  button {
    border-radius: 10px;
    margin-left: 15px;
    box-shadow: 0 0 10px #888;
  }

}
